/* Линия снизу при hover */
.menu-item a::after {
  content: '';
  position: absolute;
  bottom: 4px; /* Отступ от текста */
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

/* Hover эффект */
.menu-item:hover a {
  @apply text-white; /* Остается белым при hover */
}

.menu-item:hover a::after {
  width: 74%; /* Линия растягивается на всю ширину */
}

/* Стили для SVG стрелки */
.menu-item svg {
  transition: transform 0.2s ease;
}

.menu-item:hover svg {
  transform: rotate(180deg);
}

/* Убираем стандартное подчеркивание */
.menu-item a {
  text-decoration: none !important;
}

.menu-item a:hover {
  text-decoration: none !important;
}
